$border: 20px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

}

main {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
}

menu {
  margin: auto;
  width: 100%;
  max-width: 768px;
  border-radius: $border $border 0 0;
  background: url("../images/background.jpg") no-repeat; /* fallback */
  background-image: linear-gradient(to right,rgba(255,0,0,0), black), url("../images/background.jpg");
  background-size: cover;
}

#banner {
  color: white;
  margin: auto;
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #title {
    width: 76%;
    margin-left: 14%;
    text-align: center;
  }
  figure {
    width: 6%;
    margin: 2%;
    img {
      width: 100%;
    }
  }
}

form {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  button {
    border-bottom-left-radius: $border;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    border: none;
    align-items: center;
    justify-self: flex-end;
    width: 6%;
    margin: 2%;
    img {
      width: 100%;
    }
  }
  #task {
    width: 76%;
    font-size: 1rem;
  }
}
  

#list {
  margin: auto;
  width: 100%;
  max-width: 768px;
  #task-list {
    min-height: 10rem;
    background-color: white;
  }
  ul {
    list-style-type:none;
    li {
      display: flex;
      align-items: center;
      border-top: 1px solid grey;
      .done {
        border-radius: 100%;
        border: 2px solid #16d047;
      }
      .done, .delete {
        width: 6%;
        margin: 2%;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
      .todo-text {
        margin: 2%;
        width: 90%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#bumper {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  max-width: 768px;
  height: 3rem;
  border-radius: 0 0 $border $border;
}

.unchecked {
  .done img {
    opacity: 0;
  }
  .todo-text {
    text-decoration: none;
    color: initial;
  }
}

.checked {
  .done img {
    opacity: 1;
  }
  .todo-text {
    text-decoration: line-through;
    color: grey;
  }
}

/* large phones, tablets, and computers */
@media only screen and (min-width: 600px) {
  html {
    font-size: 25px;
  }
}
